<footer class="bg-dark text-light mt-5 mb- py-3 border-top border-secondary">
  <div class="container text-center small">
    <p class="mb-1">
      <strong>Spin&Win Slot Game <i>created by Gabriel</i></strong>
    </p>

    <p class="mb-2 text-warning">Play responsibly — have fun!</p>

    <div class="d-flex justify-content-center gap-3">
      <a routerLink="/" class="text-secondary text-decoration-none hover-text">Home</a>
      <a routerLink="/leaderboard" class="text-secondary text-decoration-none hover-text"
        >Leaderboard</a
      >
      <a routerLink="/profile" class="text-secondary text-decoration-none hover-text">Profile</a>
    </div>

    <p class="mt-2 text-light fst-italic">© 2025 Spin&Win — All rights reserved.</p>
  </div>
</footer>

<style>
  .hover-text:hover {
    color: #fff !important;
  }
</style>
